@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    /* background-color: #ff5757; */
    background-color: #000000;
    font-family: 'Poppins', serif;
    /* background: url(https://m.media-amazon.com/images/S/pv-target-images/81ef275effa427553a847bc220bebe1dc314b2e79d00333f94a6bcadd7cce851.jpg) center / cover; */
}

a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a:focus {
    outline: none !important;
}

nav {
    color: #fff;
    position: fixed;
    inset: auto 0 0 0;
    border-bottom: 20px solid #fff;
    width: min(500px, 100%);
    --w-h-item: 60px;
    --position-x-active: 170px;
}

nav ul{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, var(--w-h-item));
    grid-template-rows: var(--w-h-item);
    justify-content: space-between;
}

nav ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: 0.5s;
    color: #000;
}

nav ul a.active{
    transform: translateY(-10px);
}

nav .effect{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: calc(var(--w-h-item) + 10px);
    background: #000000;
    /* background: #ff5757; */
    z-index: -1;
    overflow: hidden;
}

nav .effect::before{
    position: absolute;
    left: 0;
    bottom: 0;
    height: var(--w-h-item);
    width: calc(var(--position-x-active) - 10px);
    background-color: #fff;
    content: '';
    border-top-right-radius: 30px;
    transition: 0.5s;
}

nav .effect::after{
    position: absolute;
    bottom: 0;
    right: 0;
    height: var(--w-h-item);
    content: '';
    background-color: #fff;
    width: calc(100% - var(--position-x-active) - var(--w-h-item) - 10px);
    border-top-left-radius: 30px;
    transition: 0.5s;
}

nav .effect .circle{
    position: absolute;
    width: var(--w-h-item);
    height: var(--w-h-item);
    background-color: yellow;
    left: var(--position-x-active);
    border-radius: 50%;
    box-shadow: 0 20px 20px #5555;
    transition: 0.5s;
}

nav .effect .circle::before{
    position: absolute;
    left: -10px;
    right: -10px;
    content: '';
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 50px 0 30px #fff;
    bottom: -10px;
    transition: 0.5s;
}

.nav-icon {
    width: 25px;
    height: auto;
}

/* Logo */

.logo {
    position: absolute;
    padding-left: 24px;
    /* color: #fff; */
    color: #000;
}

/* Hero */

.hero {
    width: 100vw;
    border-radius: 0 0 30% 30%;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    color: #fff;
}

.intro > p {
    margin-top: -20px;
}

/* Web */
.webs {
    margin-bottom: 50px;
}

.web {
    width: 90vw;
    margin: 0 16px;
    border-radius: 5%;
    margin-top: 10px;
}

/* Programs */

.programs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 50px;
    padding: 24px;
}

.program {
    width: 100%;
    background-color: rgb(246, 246, 246);
    border-radius: 10%;
}

/* loading */

.loader {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: opacity 0s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 30px;
    height: 30px;
    border: 5px solid rgba(128, 128, 128, 0.18);
    border-top-color: black;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}
